/* wrap content ======================================*/


.wrap {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    height: 1000px;
 }

 /* circle content ===================================*/

.circle {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background: #EE220c;
}

.circle--top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.circle--top-right {
    position: absolute;
    top: 0; 
    right: 0;

}

.circle--bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.circle--bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;

}
 
/* square content =============================*/


.square {
    position: absolute;
    top: 15%;
    left: 15%;
    width:  70%;
    height: 70%;
    background: #00a2ff;
    z-index: 25;
}

.small-square {
    position: absolute;
    top: 35%;
    right: 35%;
    z-index: 50;
     width: 30%;
    height: 30%;
    border-radius: 25px;
    background:#F8ba00;
}

/* Hover==================================== */


.circle--top-right:hover {
    z-index: 30;
    background: violet;
}

.circle--top-left:hover {
    z-index: 30;
    background: turquoise;
}

.circle--bottom-left:hover {
    z-index: 30;
    background: tomato;
}

.circle--bottom-right:hover {
    z-index: 30;
    background: yellow;
}

.square:hover {
    z-index: 65;
    background: yellowgreen;
}